.custom-margin {
    margin: 2%;
}

.custom-margin-top {
    margin-top: 2%;
}

.map-container {
    height: 93vh;
}

.text-size {
        'font-size': '1vw'
    }

@media (max-width: 768px) {
    .map-container {
        height: 50vh;
    }
    .text-size {
        font-size: 3vw
    }
}
