body {
    font-family: 'Roboto', Arial, sans-serif;
}

.custom-margin {
    margin: 1%;
}

.custom-margin-footer {
    margin: 2%;
    margin-top: 8%;
}

.custom-margin-top {
    margin-top: 2%;
}

.custom-padding-top {
    padding-top: 1%;
}

.custom-margin-top {
    margin-top: 2%;
}

.map-container {
    height: 90vh;
}

.text-size {
    font-size: 1vw;
}

.text-size-h-2 {
    font-size: 2vw;
}

.footer-i-size {
    font-size: 2vw;
}

.h1-size {
    font-size: 2vw;
}

@media (max-width: 768px) {
    .map-container {
        height: 50vh;
    }
    .text-size {
        font-size: 3vw;
    }

    .h1-size {
        font-size: 3vw;
    }

    .footer-i-size {
       font-size: 3vw;
    }

    .text-size-h-2 {
        font-size: 3vw;
    }
}
